.logOut_button {
    margin-top: 0.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.text_Identity {
    margin-top: 0.8rem;
    margin-right: 1rem;
    letter-spacing: normal;
    color: #fff;
}