.text_Center {
    text-align: center;
}

.selected_Company_Text {
    color: #fff;
    font-size: 18px;
    letter-spacing: normal;
    background-color: hsl(198, 100%, 32%);
}

.overseer_text {
    font-weight: bold;
    color: hsl(198, 100%, 32%);
}

.action_Panel {
    min-height: 20em;
}