clr-dropdown >button{
  min-width: 10rem;
  max-width: 100%;

}
clr-dropdown-menu >button{
  min-width: 10rem;
  max-width: 100%;

}

clr-datalist-container, .clr-input-group > input {

  border-radius:2px ;
  border: 1px solid hsl(198, 100%, 27%);
  border-bottom: 1;
  color: hsl(198, 100%, 11%);
  font-size:24px;
  min-width: 10%;
  width: 100%;
  min-height: 2rem;
  padding-bottom: 1.5rem;
  margin-left: 0.1rem;

}
.clr-input-wrapper, .clr-input-group,
clr-datalist-container:focus  >  input:focus  {
  border: 2px solid hsl(198, 100%, 33%);
  min-width: 10%;
  width: 100%;
  min-height: 2rem;
  padding-bottom: 1.5rem;

}
