<div class="clr-row clr-justify-content-center ">
    <div class="clr-col-12 headerText ">
        <h2 class="textCenter"> Add new company WIZARD</h2>
        <div>
            <ul class="clr-timeline clr-timeline-horizontal ">
                <li class="clr-timeline-step timeLineCenter">
                    <div class="clr-timeline-step-header">Step 1</div>
                    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title">Add Company</span>
                        <span class="clr-timeline-step-description"> Added main minimal company information 
  </span>
                    </div>
                </li>
                <li class="clr-timeline-step">
                    <div class="clr-timeline-step-header">Step 2</div>
                    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title">Details</span>
                        <span class="clr-timeline-step-description"> Add main minimal company information                            
  </span>
                    </div>
                </li>

                <li class="clr-timeline-step">
                    <div class="clr-timeline-step-header bold">Step 3</div>
                    <cds-icon shape="dot-circle" aria-current="true" aria-label="Current"></cds-icon>
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title">User</span>
                        <span class="clr-timeline-step-description">
     Add worker to complete the registration.
   
  </span>
                    </div>
                </li>
                <li class="clr-timeline-step">
                    <div class="clr-timeline-step-header">Summary</div>
                    <cds-icon shape="circle" aria-label="Not started"></cds-icon>
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title">Summary</span>
                        <span class="clr-timeline-step-description">
     Summary registration.
   
  </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>